
<body>
    
    <div class="info-game">
        <h1>{{ game?.name }}</h1>
        <p>Año: {{ game?.year }}</p>
        <img src="{{ game?.cover_url }}">

        <p>Versión: {{ game?.current_version }}</p>
    </div>

    <div class = "container text-center">
        <div class = "row align-items-center">
            <div class = "col">
                <h1>1P</h1>
                <table>
                    <tbody>
                        <tr *ngFor="let row of getRows()">
                        <td *ngFor="let character of row">
                                
                                <div class = "char_name1">
                                    <img src="{{ character?.img_url}}" class = "img_url p1" alt="">
                                    {{ character?.name }}
                                </div>
                                <br>
                            </td>
                        </tr>            
                    </tbody>       
                </table>
            </div>
            <div class = "col versus">
                <h1>VS</h1>
            </div>
            <div class = "col">
                <h1>2P</h1>
                <table>
                    <tbody>
                        <tr *ngFor="let row of getRows()">
                        <td *ngFor="let character of row">
                            <div class = "char_name2">
                                <img src="{{ character?.img_url}}" class = "img_url p2" alt="">
                                {{ character?.name }}
                            </div>
                                <br>
                            </td>
                        </tr>            
                    </tbody>
                </table>
            </div>
        </div>       
        


    </div>

</body>
