
<body>
    
    <div class="info-game">
        <h1>{{ game?.name }}</h1>
        <p>Año: {{ game?.year }}</p>
        <img src="{{ game?.cover_url }}">

        <p>Versión: {{ game?.current_version }}</p>
    </div>

    <div class = "container text-center">
        <div class = "row align-items-center">
            <div class = "col">
                <h1>1P</h1>
                <table>
                    <tbody>
                        <tr *ngFor="let row of getRows()">
                        <td *ngFor="let character of row">
                                
                                <div class = "char_name1" (click)="isSelected1(character?.id)">
                                    <img src="{{ character?.img_url}}" class = "img_url p1" alt="">
                                    {{ character?.name }}
                                </div>
                                <br>
                            </td>
                        </tr>            
                    </tbody>       
                </table>
            </div>
            <div class = "col versus">
                <div *ngIf="show1 == true">
                    <img src="{{ character1?.img_url}}" class = "img_url" alt="">
                </div>
                <div *ngIf="show1 == false">
                    <img src='assets/Roster/not_selected1.png' class = "img_url" alt="">
                </div>
                <h1>VS</h1>
                <div *ngIf="show2 == true">
                    <img src="{{ character2?.img_url}}" class = "img_url" alt="">
                </div>
                <div *ngIf="show2 == false">
                    <img src='assets/Roster/not_selected2.png' class = "img_url" alt="">
                </div>
                <div *ngIf = "show1 == true && show2 == true" class = "buscar" >
                    <button type="button" class="btn btn-primary btn-lg" (click)="twoId(character1?.id, character2?.id)" 
                    routerLink="matchups/{{ id1 }}/{{ id2 }}">Buscar</button>
                </div>
                <div *ngIf = "show1 == false || show2 == false" class = "buscar">
                    <button type="button" class="btn btn-primary btn-lg" disabled>Buscar</button>
                </div>
            </div>
            <div class = "col">
                <h1>2P</h1>
                <table>
                    <tbody>
                        <tr *ngFor="let row of getRows()">
                        <td *ngFor="let character of row">
                            <div class = "char_name2" (click)="isSelected2(character?.id)">
                                <img src="{{ character?.img_url}}" class = "img_url p2" alt="">
                                {{ character?.name }}
                            </div>
                                <br>
                            </td>
                        </tr>            
                    </tbody>
                </table>
            </div>
        </div>       
        


    </div>

</body>
